.button-navbar.button-yellow:hover .icon-arrow-button {
  transform: translate(50px, 100px);
}

.button .icon-arrow-button {
  transition: 0.3s;
}
.button:hover .icon-arrow-button {
  transform: translate(4px, 0);
}
.learn-more-big:hover .icon-arrow-learn-more {
  transform: translate(4px, 0);
}
.learn-more-big .icon-arrow-learn-more {
  transition: 0.3s;
}

.button:hover .icon-arrow-button .icon-bg {
  fill: white;
}
.button:hover .icon-arrow-button .icon-stroke1 {
  stroke: black;
}
.button:hover .icon-arrow-button .icon-stroke2 {
  stroke: white;
}

.outline:hover .icon-arrow-button .icon-stroke1 {
  stroke: black;
}
.outline:hover .icon-arrow-button .icon-stroke2 {
  stroke: black;
}
.w--redirected-checked.wrapper-checked.icon-checked {
  display: block;
}
.number-tab-content {
  background-color: #667085;
}
.tab-link:nth-child(1).w-tab-link.w--current .flex-link-tab .number-tab-content {
  background-color: #081626;
}
.tab-link:nth-child(2).w-tab-link.w--current .flex-link-tab .number-tab-content {
  background-color: #081626;
}
.tab-link:nth-child(3).w-tab-link.w--current .flex-link-tab .number-tab-content {
  background-color: #081626;
}
.tab-link:nth-child(4).w-tab-link.w--current .flex-link-tab .number-tab-content {
  background-color: #081626;
}
.tab-link:nth-child(5).w-tab-link.w--current .flex-link-tab .number-tab-content {
  background-color: #081626;
}

.tab-link:nth-child(1).w-tab-link.w--current .flex-link-tab .icon-arrow {
  transform: translate(1em, 0);
  opacity: 1;
  transition: 0.2s;
}
.tab-link:nth-child(2).w-tab-link.w--current .flex-link-tab .icon-arrow {
  transform: translate(1em, 0);
  opacity: 1;
  transition: 0.2s;
}
.tab-link:nth-child(3).w-tab-link.w--current .flex-link-tab .icon-arrow {
  transform: translate(1em, 0);
  opacity: 1;
  transition: 0.2s;
}
.tab-link:nth-child(4).w-tab-link.w--current .flex-link-tab .icon-arrow {
  transform: translate(1em, 0);
  opacity: 1;
  transition: 0.2s;
}
.tab-link:nth-child(5).w-tab-link.w--current .flex-link-tab .icon-arrow {
  transform: translate(1em, 0);
  opacity: 1;
  transition: 0.2s;
}

.block-mini-apps:hover .button-mini-apps {
  background-color: #f0ff48;
  color: #081626;
}

.swiper-arrow.button-prev {
  height: 64px;
  width: 64px;
  background-color: #f0ff48;
  position: absolute;
  left: auto;
  top: 40%;
  background-size: 32px;
  cursor: pointer;
}
.swiper-arrow.button-next {
  height: 64px;
  width: 64px;
  background-color: #f0ff48;
  position: absolute;
  right: 0;
  top: 40%;
  cursor: pointer;
  background-size: 32px;
}
